#SectionHead {
    font-size: 25px;
    font-weight: bolder;
    color: teal;
    box-sizing: border-box;    
}

#border {
    padding: 50px;
    background-color: silver;
    border: 5px solid black;
}